<div>
<button #lab1 value="{{images[0].label}}"   (click)="sort(lab1,sortResult)">{{images[0].label}}</button>
<button #lab2 value="{{images[5].label}}"  (click)="sort(lab2,sortResult)">{{images[5].label}}</button>
<button #lab3 value="{{images[11].label}}"  (click)="sort(lab3,sortResult)">{{images[11].label}}</button>
<button #lab4 value="All"  (click)="sort(lab4,sortResult)">All</button>
</div>


<div #sortResult>
<img src="{{images[0].src}} " width="400px" height="400px">
<img src="{{images[1].src}} " width="400px" height="400px">
<img src="{{images[2].src}} " width="400px" height="400px">
<img src="{{images[3].src}} " width="400px" height="400px">
<img src="{{images[4].src}} " width="400px" height="400px">
<img src="{{images[5].src}} " width="400px" height="400px">
<img src="{{images[6].src}} " width="400px" height="400px">
<img src="{{images[7].src}} " width="400px" height="400px">
<img src="{{images[8].src}} " width="400px" height="400px">
<img src="{{images[9].src}} " width="400px" height="400px">
<img src="{{images[10].src}} " width="400px" height="400px">
<img src="{{images[11].src}} " width="400px" height="400px">
</div>


<a class="button"
     routerLink="/admin-dashboard"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    <button>Admin DashBoard</button>
  </a>




